*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    height: 90vh;
    display: flex;
    place-content: center;
}


.app-container {
    background-color: rgb(129, 129, 129);
    box-shadow: 1px 1px 1px 2px rgb(76, 76, 76);
    border-radius: 5px;
    border-right: 7px groove rgb(147, 147, 147);
    border-bottom: 7px groove rgb(147, 147, 147);
    
    display: grid;
    grid-template-columns:1fr repeat(2, 1fr) 1fr;
    grid-template-rows: fit-content repeat(3, 1fr);
    width: 97vw;
    min-height: 530px;
    max-height: 90vh;
    

    max-width: 420px;
    
    user-select: none;
}


h1 {
    grid-column: 1/end;
    grid-row: 1;
    place-content: center;
    text-align: center;
    padding: .5em 0 0 0;
    white-space: nowrap; /* förhindra radbrytning */
    color: rgb(156, 156, 156);
    text-shadow: 2px 2px 2px rgb(96, 96, 96);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
}

/* STARTMENY */
.start-menu {
    display: hidden;
}


/* SPELBRÄDET */
.game-board {
    grid-column: 1/end;
    grid-row: 2/4;
    
    position: relative;
    padding: 1em 1em;
    height: 95%;
}

/* RESULTAT-RUTAN */
.game-result_div {
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(4, fit-content);
    grid-template-columns: auto auto;
    
    background-color: #ffe196;
    border: 1px solid rgb(255, 217, 92);
    box-shadow: 0 0 30px rgb(251, 220, 118);
    border-radius: 10px;
    height:60%;
    white-space: nowrap;
}
.win-or-loose {
    animation: 800ms ease-in infinite alternate;
}
@keyframes player-wins-round {
    0%,100%{
        border: 1px solid rgb(108, 160, 29);
    }
    0% { 
        background-color: rgb(155, 230, 43);
        box-shadow: 0 0 10px rgb(155, 230, 43);
    }
    100%{
        background-color: rgb(140, 208, 37);
        box-shadow: 0 0 30px rgb(140, 208, 37);
    }
}
@keyframes computer-wins-round {
    0%,100% {
        border: 1px solid rgb(214, 70, 70);
    }
    0% { 
        background-color: rgb(253, 101, 101);
        box-shadow: 0 0 10px rgb(252, 85, 85);
    }
    100%{
        background-color: rgb(252, 70, 70);
        box-shadow: 0 0 30px rgb(252, 70, 70);
    }
}
@keyframes tied-round {
    0%,100% {
        border: 1px solid rgb(194, 194, 194);
    }
    0% { 
        background-color: rgb(240, 240, 240);
        box-shadow: 0 0 10px rgb(240, 240, 240);
    }
    100%{
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 30px rgb(255, 255, 255);
    }
}
@keyframes finale-win {
    0%,100%{
        border: 1px solid rgb(108, 160, 29);
    }
    0% { 
        background-color: rgb(188, 231, 71);
        box-shadow: 0 0 10px rgb(155, 230, 43);
    }
    100%{
        background-color: rgb(140, 208, 37);
        box-shadow: 0 0 40px 3px rgb(140, 208, 37);
    }
}
@keyframes finale-lose {
    0%,100% {
        border: 1px solid rgb(214, 70, 70);
    }
    0% { 
        background-color: rgb(253, 25, 25);
        box-shadow: 0 0 10px rgb(252, 85, 85);
    }
    100%{
        background-color: rgb(146, 34, 34);
        box-shadow: 0 0 30px rgb(252, 70, 70);
    }
}


.score-board {
    grid-row: 1;
    grid-column: span 2;
    
    display: flex;
    justify-content: center;
    margin: 1em auto 0 auto;
    font-size: 1.5em;
}
.name-tag {
    margin: auto;
    grid-row: 2;
    font-size: 1.2em;
}
.choice-result-box {
    
    grid-row: 3;
    
    display: grid;
    place-content: center;
    margin: .2em auto;
    height: 80px;
    width: 80px;
    border-radius: 30px;
    background-color: rgba(221, 173, 230, 0);
    text-shadow: 0px 0px 7px black;
    font-size: 3em;
    transition: 500ms;
    
    
}
.result-info {
    
    margin: 1em auto 2em auto;
    grid-row: 4;
    grid-column: 1 / span 2;
    font-size: 1.3em;
    
}

.result {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
    place-content: center;
    animation: 800ms ease-in infinite alternate;
}

@keyframes result-pulse {
    0%{

        transform: translate(-50%, -50%) scale(1)
    }
    100% {
        opacity: 1;
        transform: scale(1.5) translate(-35%, -70%);
    }
}

/* KNAPPSATS */
.btn_div {
    grid-column: 1/end;
    grid-row: 4;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    
    
    
    padding: auto; 
    margin: 2em auto;
    
}

.choice-btn {
    grid-row: 4;
    
    position: relative;
    margin: 1em auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #000;
    text-shadow: -1px -1px 1px;
    height: 70px;
    width: 70px;
    
    background-color: rgb(169, 207, 207);
    font-size: 2em;
    overflow: hidden;

    &:active {
        box-shadow: none;
        transform: translate(2px, 2px);
    }
    
}
.choice-btn-activated {
    box-shadow: 1px 1px 5px 1px rgb(54, 24, 226);
}

.upper-btn_div {
    grid-row: 1;
    grid-column: 1/end;
    
    display: flex;
    
    justify-content: center;
    gap: 3em;
    
}
.upper-btn {
    box-shadow: 1px 1px 1px 1px #000;
    border-radius: 10px;
    width: 4em;
    transform: rotate(-20deg);
    
    &:active {
        box-shadow: none;
        transform: translate(2px, 2px) rotate(-20deg);
    }
}
.upper-btn-activated {
    animation: ready-to-confirm 1000ms ease-out infinite alternate;
}
@keyframes ready-to-confirm {
    0%{}
    100% {
        box-shadow: 1px 1px 6px 1px rgb(25, 226, 22);
        background-color: rgba(30, 241, 26, 0.549) ;
    }
}


.hidden {
    display: none;
}